*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px auto;
}

/* Header Section Start Here */

.header-container{
    height: 100vh;
    background-color:#FCEEF1;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;

}
.banner-container{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-description{
    width: 800px;
    margin-right: 70px;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.title-description{
    color: #27272799;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 28px;
}
.shop-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    margin-top: 28px;
}
.header-banner{
    width: 570px;

}
.banner-img{
    height: 920px;
    margin-bottom: -52px;
} 

/* Header Section End Here */


/* featured Section Start Here */

.featured-container{
    text-align: center;
    width: 1440px;
    height: 100vh;
    margin: auto;
    overflow: hidden;

}
.featured-info{
    padding-top: 100px;
    padding-bottom: 60px;

}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.featured-description{
    color: #27272799;
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.featured-images-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.featureds{
    height: 580px;
}

.featured-item{
    background-color: #F2DEE7;
    width: 450px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 28px;
}
.featured-item-1{
    background-color: #E3EBDB;
    width: 450px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 28px;   
}
.featured-item-2{
    background-color: #D9EFF1;
    width: 450px;
    height: 520px;
    border-radius: 300px 300px 0px 0px;
    margin-bottom: 28px;    
}
.featured-img{
    margin-top: 92px;
}
.featured-img-1{
    margin-top: 110px;
}
.featured-img-2{
    margin-top: 49px;
}

/* featured Section End Here */

/* optional section end here  */

.optional-section {
    justify-content: center;
    box-sizing: border-box;
    margin: 10px 0 100px 0;
  }
  .quick-service-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1440px;
    background-color: #F4F4F4;
    background-size: cover;
    margin: 0 auto;
    padding: 20px 10px;
  
  }
  
  .img-container{
    width: 300px;
    padding: 38px;
    text-align: center;
  }
  
  .img-container .img {
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 15px;
  }
  
  /* optional section end here  */

/* Hot-deal section start Here */

.hot-deal-container{
    background-color: #FCEEF1;
    height: 60vh;
}
.hot-deals{
    width: 1440px;
    height: 60vh;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hot-deal-description{
    text-align: center;
}
.hot-deal-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.primary{
    color: #E55473;
}
.hot-deal-description{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.sign-up-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px;
    color: #FFF;
    margin-top: 28px;
}
/* Hot-deal section End Here */


/* instagram section start Here */

.instagram-container{
    width: 1440px;
    margin: 0px auto;
}
.instagram-area{
    width: 1440px;
}
.instagram-info{
    margin-top: 120px;
    margin-bottom: 50px;
}

.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.instagram-description{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}
.instagram-images{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}
.instagram-images img{
    box-shadow: .2px .2px 6px .2px;
}

/* instagram section end Here */

/* subcribe section end Here   */


.subcribe-container{
    width: 1440px;
    height: 449px;
    background-image: url('./asset/images/Rectangle\ 9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px auto;
}
.subcribe-bg{
   text-align: center;

}

.subcribe-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 110px;
}
.subcribe-description{
    color: #27272799;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-top: 20px;
}

.email-box{
    width: 600px;
    height: 44px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    
}

.subcribe-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 14px 42px;
    color: #FFF;
    margin-top: 28px;
    margin-left: 8px;
}
  /* subcribe section end Here   */



  /* Footer section start Here   */
  .footer-container{
    height: 42vh;
    background-color: #111010;
  }

  .footer-info{
    width: 1440px;
    text-align: center;
    margin: auto;
  }
  .footer-title{
    color: #E55473;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 95px;
  }
  .footer-title > span {
    color: white;
  }
  .footer-description{
    color: #ffffffe6;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 30px;
    padding: 30px 0px;
  }
  .footer-reserved{
    color: #ffffff66;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight:200;
    line-height: normal;
  }

    /* Footer section end Here   */